footer{
    background-color: $bg-dark;
    padding-top: 5rem;
    padding-bottom: 5rem;

    ul{
        list-style: none;
        display: flex;

        a{
            text-decoration: none;
        }
    }
}
.footer-img{
    height: 100px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 1rem;

        img{
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
}